header.jumbotron.subhead
    .container
        .inner
            h1 Hack #2 Example 2
            p.lead Overview of the project, its contents, and how to get started with a simple template

    .container
        p test        

script
    console.log("Example 2")