header.jumbotron.subhead
    .container
        .inner
            h1 Hack #3 Example 3
            p.lead Overview of the project, its contents, and how to get started with a simple template

    .container
        p test        

script
    console.log("Example 3")